body {
  background-color: #fbd0d0;
}

@keyframes pulse {
  0% {
	transform: scale(19);
	-webkit-transform: scale(19);
	-moz-transform: scale(19);
	-ms-transform: scale(19);
	-o-transform: scale(19);
}
	20% {
		transform: scale(20);
		-webkit-transform: scale(20);
		-moz-transform: scale(20);
		-ms-transform: scale(20);
		-o-transform: scale(20);
	}
	40% {
		transform: scale(19);
		-webkit-transform: scale(19);
		-moz-transform: scale(19);
		-ms-transform: scale(19);
		-o-transform: scale(19);
	}
	60% {
		transform: scale(20);
		-webkit-transform: scale(20);
		-moz-transform: scale(20);
		-ms-transform: scale(20);
		-o-transform: scale(20);
	}
	80% {
		transform: scale(19);
		-webkit-transform: scale(19);
		-moz-transform: scale(19);
		-ms-transform: scale(19);
		-o-transform: scale(19);
	}
	100% {
		transform: scale(19);
		-webkit-transform: scale(19);
		-moz-transform: scale(19);
		-ms-transform: scale(19);
		-o-transform: scale(19);
  }
}

.heart {
  position: absolute;
  top: 20%;
  left: 42%;
  width: 1px;
  height: 1px;
	transform: scale(20);
  /*pixelimage*/
  box-shadow: 1px 0 #000,
  2px 0 #000,
  6px 0 #000,
  7px 0 #000,
  /* 2nd line */
  0px 1px #000,
  1px 1px rgba(255, 0, 0, 1),
  2px 1px rgba(255, 0, 0, 1),
  3px 1px #000,
  5px 1px #000,
  6px 1px rgba(255, 0, 0, 1),
  7px 1px rgba(255, 0, 0, 1),
  8px 1px #000,
  /* 3rd line */
  -1px 2px #000,
  0 2px rgba(255, 0, 0, 1),
  1px 2px rgba(255, 0, 0, 1),
  2px 2px rgba(255, 0, 0, 1),
  3px 2px rgba(255, 0, 0, 1),
  4px 2px #000,
  5px 2px rgba(255, 0, 0, 1),
  6px 2px rgba(255, 0, 0, 0.2),
  7px 2px rgba(255, 0, 0, 0.3),
  8px 2px rgba(255, 0, 0, 1),
  9px 2px #000,
  /* 4th line */
  -1px 3px #000,
  0 3px rgba(255, 0, 0, 1),
  1px 3px rgba(255, 0, 0, 1),
  2px 3px rgba(255, 0, 0, 1),
  3px 3px rgba(255, 0, 0, 1),
  4px 3px rgba(255, 0, 0, 1),
  5px 3px rgba(255, 0, 0, 1),
  6px 3px rgba(255, 0, 0, 1),
  7px 3px rgba(255, 0, 0, 1),
  8px 3px rgba(255, 0, 0, 1),
  9px 3px #000,
  /* 5th line */
  -1px 4px #000,
  0 4px rgba(255, 0, 0, 1),
  1px 4px rgba(255, 0, 0, 1),
  2px 4px rgba(255, 0, 0, 1),
  3px 4px rgba(255, 0, 0, 1),
  4px 4px rgba(255, 0, 0, 1),
  5px 4px rgba(255, 0, 0, 1),
  6px 4px rgba(255, 0, 0, 1),
  7px 4px rgba(255, 0, 0, 1),
  8px 4px rgba(255, 0, 0, 1),
  9px 4px #000,
  /* 6th line */
  0 5px #000,
  1px 5px rgba(255, 0, 0, 1),
  2px 5px rgba(255, 0, 0, 1),
  3px 5px rgba(255, 0, 0, 1),
  4px 5px rgba(255, 0, 0, 1),
  5px 5px rgba(255, 0, 0, 1),
  6px 5px rgba(255, 0, 0, 1),
  7px 5px rgba(255, 0, 0, 1),
  8px 5px #000,
  /* 7th line */
  1px 6px #000,
  1px 6px rgba(255, 0, 0, 1),
  2px 6px rgba(255, 0, 0, 1),
  3px 6px rgba(255, 0, 0, 1),
  4px 6px rgba(255, 0, 0, 1),
  5px 6px rgba(255, 0, 0, 1),
  6px 6px rgba(255, 0, 0, 1),
  7px 6px #000,
  /* 8th line*/
  2px 7px #000,
  3px 7px rgba(255, 0, 0, 1),
  4px 7px rgba(255, 0, 0, 1),
  5px 7px rgba(255, 0, 0, 1),
  6px 7px #000,
  /* 9th line */
  3px 8px #000,
  4px 8px rgba(255, 0, 0, 1),
  5px 8px #000,
  /* 10th line */
  4px 9px #000;
  /*animation*/
/*   animation: pulse 1.5s infinite; */
}