body {
  display: flex;
  justify-content: center;
  min-height: 100vmin;
	background: #9badb7;
}

html {
	font-size: 62.5%; /*one Em roughly ten pixels (16 x 62.5% = 10)*/
}

.egg {
	margin-top: 6em;
  width: 1em;
  height: 1em;
  background-color: #9badb7;
	box-shadow:
		4em 0 #242828,
		5em 0 #242828,
		6em 0 #242828,
		7em 0 #242828,

		2em 1em #242828,
		3em 1em #242828,
		4em 1em #7f9860,
		5em 1em #7f9860,
		6em 1em #7f9860,
		7em 1em #7f9860,
		8em 1em #242828,
		9em 1em #242828,

		1em 2em #242828,
		2em 2em #3a5043,
		3em 2em #3a5043,
		4em 2em #446f55,
		5em 2em #446f55,
		6em 2em #446f55,
		7em 2em #446f55,
		8em 2em #7f9860,
		9em 2em #7f9860,
		10em 2em #242828,

		1em 3em #242828,
		2em 3em #446f55,
		3em 3em #100f13,
		4em 3em #446f55,
		5em 3em #446f55,
		6em 3em #446f55,
		7em 3em #446f55,
		8em 3em #100f13,
		9em 3em #7f9860,
		10em 3em #242828,

		0 4em #242828,
		1em 4em #3a5043,
		2em 4em #446f55,
		3em 4em #100f13,
		4em 4em #7f9860,
		5em 4em #446f55,
		6em 4em #446f55,
		7em 4em #7f9860,
		8em 4em #100f13,
		9em 4em #446f55,
		10em 4em #7f9860,
		11em 4em #242828,

		0 5em #242828,
		1em 5em #3a5043,
		2em 5em #446f55,
		3em 5em #242828,
		4em 5em #100f13,
		5em 5em #446f55,
		6em 5em #446f55,
		7em 5em #100f13,
		8em 5em #242828,
		9em 5em #446f55,
		10em 5em #7f9860,
		11em 5em #242828,

		-1em 6em #242828,
		0 6em #914e3c,
		1em 6em #242828,
		2em 6em #446f55,
		3em 6em #242828,
		4em 6em #242828,
		5em 6em #446f55,
		6em 6em #446f55,
		7em 6em #242828,
		8em 6em #242828,
		9em 6em #446f55,
		10em 6em #242828,
		11em 6em #914e3c,
		12em 6em #242828,

		-2em 7em #242828,
		-1em 7em #914e3c,
		0 7em #693540,
		1em 7em #3a213a,
		2em 7em #242828,
		3em 7em #446f55,
		4em 7em #446f55,
		5em 7em #446f55,
		6em 7em #446f55,
		7em 7em #446f55,
		8em 7em #446f55,
		9em 7em #242828,
		10em 7em #3a213a,
		11em 7em #693540,
		12em 7em #914e3c,
		13em 7em #242828,

		-2em 8em #242828,
		-1em 8em #693540,
		0 8em #3a213a,
		1em 8em #242828,
		2em 8em #3a5043,
		3em 8em #446f55,
		4em 8em #100f13,
		5em 8em #100f13,
		6em 8em #100f13,
		7em 8em #100f13,
		8em 8em #446f55,
		9em 8em #3a5043,
		10em 8em #242828,
		11em 8em #3a213a,
		12em 8em #693540,
		13em 8em #242828,

		-1em 9em #242828,
		0 9em #242828,
		1em 9em #3a5043,
		2em 9em #446f55,
		3em 9em #100f13,
		4em 9em #3a5043,
		5em 9em #3a5043,
		6em 9em #3a5043,
		7em 9em #3a5043,
		8em 9em #100f13,
		9em 9em #446f55,
		10em 9em #3a5043,
		11em 9em #242828,
		12em 9em #242828,

		1em 10em #242828,
		2em 10em #3a5043,
		3em 10em #446f55,
		4em 10em #446f55,
		5em 10em #446f55,
		6em 10em #446f55,
		7em 10em #446f55,
		8em 10em #446f55,
		9em 10em #7f9860,
		10em 10em #242828,

		2em 11em #242828,
		3em 11em #3a5043,
		4em 11em #446f55,
		5em 11em #446f55,
		6em 11em #446f55,
		7em 11em #446f55,
		8em 11em #7f9860,
		9em 11em #242828,

		3em 12em #242828,
		4em 12em #3a5043,
		5em 12em #3a5043,
		6em 12em #3a5043,
		7em 12em #3a5043,
		8em 12em #242828,

		1em 13em #242828,
		2em 13em #242828,
		3em 13em #693540,
		4em 13em #693540,
		5em 13em #242828,
		6em 13em #242828,
		7em 13em #693540,
		8em 13em #693540,
		9em 13em #242828,
		10em 13em #242828,

		0 14em #242828,
		1em 14em #914e3c,
		2em 14em #693540,
		3em 14em #3a213a,
		4em 14em #242828,
		7em 14em #242828,
		8em 14em #3a213a,
		9em 14em #693540,
		10em 14em #914e3c,
		11em 14em #242828,

		0 15em #242828,
		1em 15em #3a213a,
		2em 15em #3a213a,
		3em 15em #3a213a,
		4em 15em #242828,
		7em 15em #242828,
		8em 15em #3a213a,
		9em 15em #3a213a,
		10em 15em #3a213a,
		11em 15em #242828;
}

/*
outline #242828
body #446f55
highlight #7f9860
shade #3a5043
darkest eye & mouth #100f13

hands & feet #693540
highlight hands & feet #914e3c
shade hands & feet #3a213a
*/